* {
    margin: 0%;
    padding: 0%;
}


.container{
 
    width: 200vh;
    margin: auto;
    margin-top: 10px;
}
.container ul li {
    list-style: none;
    font-weight: bold;
    display: inline-flex;
    padding: 0 8px;
}
.container ul {
    width: 70vh;
    float: right;
    margin:  4vh 100vh 0  0;
}
.container ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.logo:hover {
    cursor: pointer;
}
.navbar{
    width: 200vh;
    margin: auto;
    margin-top: 30px;
}
.navbar ol li {
    list-style: none;
    display: inline-flex;
    padding: 0 8px;
}

.navbar ol li:hover{
    text-decoration: underline;
}
.content{
    width: 200vh;
    margin: auto;
    margin-top: 10px;
}

.title{
    margin-top: 20px;
}
.main{

    width: 85vh;
    margin-top: 20px;
}

.finaly{
    width: 200vh;
    margin: auto;
    margin-top: 40px;
}


.finaly{
    
}

.card{
    border: black solid 1px;
    float: left;
    width: 20%;
    padding: 10px;
    margin: 15px;
}

.card .img-cards{
    width: 100%;
    height: 55vh;
}
.lin1{
    color:#636e72 ;
}


.card span{
    text-decoration: underline;
    font-weight: bold;
}

.lin3{
    color: #27ae60;
}


.title{
    margin-top: 15px;
    margin-bottom: 15px;
}