* {
    margin: 0%;
    padding: 0%;
}
body {
    background: linear-gradient(to right, #ed213a, #93291e); 
    background-size:100% 180vh;
    background-position: center;
    position: relative;
}

.container {
    width: 40%;
    margin: auto;
    top: 70px;
    position: relative;
    text-align: center;
    padding-top: 40px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0 , 0.6);
    background-color: #a02929;
}
.cham {
    padding: 8px 40px;
    border: 1px solid;
    color: #222f3e;
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 20px;
    background-color:  #FBEDEB;
    cursor: pointer;
}

.la1 {
    font-family: 'Josefin Sans', sans-serif;
    color: #222f3e;
    font-weight: bold;
    background-color: #FCD7C5;
    padding: 8px 30px;
    border-radius: 10px;
    border: #E38075 solid 1.5px;
    cursor: pointer;
}
.la2 {
    font-family: 'Josefin Sans', sans-serif;
    color: #222f3e;
    font-weight: bold;
    background-color: #FCD7C5;
    padding: 8px 30px;
    border-radius: 20px;
    border-radius: 10px;
    border: #E38075 solid 1.5px;
    cursor: pointer;
}
#pricemin {
    border-radius: 5px;
    padding: 8px;
    outline: none;
    border: solid 1.5px black;
    margin-top: 15px;
    background-color: #FBEDEB;
}

#pricemax {
    border-radius: 5px;
    padding: 8px;
    outline: none;
    border: solid 1.5px black;
    margin-top: 15px;
    background-color: #FBEDEB;
}
.ch {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    color: #222f3e;
    font-weight: bold;
    background-color: #FCD7C5;
    padding: 8px 30px;
    border-radius: 10px;
    border: #E38075 solid 1.5px;
    cursor: pointer;
}
.house {
    font-family: 'Josefin Sans', sans-serif;
    color: #222f3e;
    font-weight: bold;
    background-color: #FCD7C5;
    padding: 8px 30px;
    border-radius: 20px;
    border-radius: 10px;
    border: #E38075 solid 1.5px;
    cursor: pointer;
}
.hou {
    padding: 8px 40px;
    border: 1px solid;
    color: #222f3e;
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 10px;
    background-color:  #FBEDEB;
    cursor: pointer;
}
.Search {
    padding: 8px 40px;
    border: none;
    color: #ac6514;
    border-radius: 5px;
    
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 20px;
    background-color: #FCD7C5;
    cursor: pointer;
}
.logo {
    width: 8%;
    height: 10vh;
    margin: auto;
    margin-top: 10px;
}
.logos {
    width: 100%;
    border: solid 5px bisque;
    border-radius: 100%;
}